body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 700px;
    height: 300px;
}

.blue {
    height: 100px;
    background-color: blue;
    width: 100%;
}

.red {
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.green {
    height: 100px;
    background-color: green;
}

.star {
    width: 100px;
    height: 80px;
}

.fa-solid {
    font-size: 55px;
    color: #fff;
}